.navbar-custom {
    background-color:#563d7c;
}

.col-lg-9 h1, p {
    font-family:Cambria 'Times New Roman' Arial;
    width:800px;
}

h2, h3, h4 {
    font-family:Cambria 'Times New Roman' Arial;
    color:#494444;
}

.col-lg-6 h2{
    font-family:Cambria 'Times New Roman' Arial;
    font-size:20pt;
}

.col-lg-6 p{
    font-family:Cambria 'Times New Roman' Arial;
    font-size:15px;
    width:auto;
}

p {
    float:left;
    clear:both;
}

img .center{
    margin: 0px auto;
}

.dropdown-form {
    padding:20px 20px;   
    width:300px;
    height:300px;
    background-color:#ffd800;
}

.menu-bar {
    margin-top:50px;
}

.new-maps-thumb {
    width:80px;height:70px;float:left;
}

.new-maps {
    width:210px;height:70px;float:left;margin:5px;color:#808080;
    margin-top:2%;
}

.lblposition {
    margin:20px;
}

h1 {
    font-family:Cambria 'Times New Roman' Arial;
    color:#0094ff;
    font-size:30pt;
}