<div class="bs-header">
    <div class="container">
        <div class="col-lg-9">
            <h1 style="margin-top:40px;color:#0094ff;">@ViewBag.MainTitle</h1>
            <p>@ViewBag.Description</p>
            <p>
            @{
                if (ViewBag.Address == "TrangChu/Index")
                {
                    @Html.ActionLink("Tìm hiểu thêm", "TongQuan", "Home", new { @class = "btn btn-warning btn-lg" });
                }
            }
            </p>
        </div>
    </div>
</div>