<ul class="nav">
    <li>
        <a href="ViewMap.aspx" title="">
            <div class="container"">
                <div class="new-maps-thumb"><img src="../../images/bdkn.png" class="img-thumbnail" title="" /></div>
                <div class="new-maps">Các phương pháp khảo sát hàm số, các loại hàm số cơ bản.</div>
            </div>
        </a>
    </li>
    <li>
        <a href="ViewMap.aspx" title="">
            <div class="container"">
                <div class="new-maps-thumb"><img src="../../images/bdkn.png" class="img-thumbnail" title="" /></div>
                <div class="new-maps">Các phương pháp khảo sát hàm số, các loại hàm số cơ bản.</div>
            </div>
        </a>
    </li>
    <li>
        <a href="ViewMap.aspx" title="">
            <div class="container"">
                <div class="new-maps-thumb"><img src="../../images/bdkn.png" class="img-thumbnail" title="" /></div>
                <div class="new-maps">Bảng tuần hoàn các nguyên tố hóa học.</div>
            </div>
        </a>
    </li>
</ul>